body {
    font-family: Tahoma, sans-serif;
    background-color: #dedede;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 380px;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #f06d5c;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 40px;
  }

.input-formu {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}

.input-formu input {
    width: 80%;
    color: white;
    background-color: rgba(102, 149, 236, 0.384);
    padding: 10px;
    border:none;
    border-bottom: 1px solid #dedede;
    border-radius: 10px;
    font-size: 20px;
    transition: border-color 0.3s ease-in-out;
    outline: none;
}

.input-formu input:focus {
    border-color: #031770;
}

button {
    margin-top: 20px;
    display: inline-block;
    padding: 12px 24px;
    background-color: #0502d4;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #c5d5e2;
}